# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [27]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path) 
# Display sample data
city_data_df=city_data_df.set_index(["City ID"])

city_data_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
City ID,,,,,,,,,
0,Novoorsk,RU,51.3810,58.9813,38.05,83,100,15.19,light rain
1,Busselton,AU,-33.6500,115.3333,55.27,72,0,12.80,clear sky
2,Jamestown,US,42.0970,-79.2353,56.17,49,0,5.75,clear sky
3,Kaitangata,NZ,-46.2817,169.8464,45.43,61,57,3.96,broken clouds
4,Ribeira Grande,PT,38.5167,-28.7000,69.03,61,49,2.17,scattered clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [28]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would for your trip?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would for your trip?"))

What is the minimum temperature you would for your trip?75
What is the maximum temperature you would for your trip?90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [29]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                      (city_data_df["Max Temp"] >= min_temp)]
                                       
                                    
# Display sample data
preferred_cities_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
City ID,,,,,,,,,
6,Buraydah,SA,26.3260,43.9750,77.45,15,0,9.51,clear sky
22,Dong Hoi,VN,17.4833,106.6000,78.13,88,100,3.89,heavy intensity rain
25,Puerto Ayora,EC,-0.7393,-90.3518,76.96,92,59,7.00,broken clouds
26,Iralaya,HN,15.0000,-83.2333,81.54,82,25,14.72,scattered clouds
28,Georgetown,MY,5.4112,100.3354,78.75,94,20,4.61,few clouds
29,Zaraza,VE,9.3503,-65.3245,77.86,88,100,0.36,overcast clouds
32,Kapaa,US,22.0752,-159.3190,85.98,64,40,11.50,scattered clouds
35,Martapura,ID,-3.4167,114.8500,75.29,100,75,3.44,moderate rain
42,San Cristobal,VE,7.7669,-72.2250,78.98,66,78,2.91,broken clouds
43,Sarangani,PH,5.4033,125.4636,83.80,73,93,15.66,overcast clouds

In [30]:
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196 entries, 6 to 699
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             196 non-null    object
 1   Country          196 non-null    object
 2   Lat              196 non-null    float64
 3   Lng              196 non-null    float64
 4   Max Temp         196 non-null    float64
 5   Humidity         196 non-null    int64
 6   Cloudiness       196 non-null    int64
 7   Wind Speed       196 non-null    float64
 8   Current Weather  196 non-null    object
dtypes: float64(4), int64(2), object(3)
memory usage: 15.3+ KB

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [32]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities =preferred_cities_df.dropna(how='any') 

# Display sample data
clean_travel_cities.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
City ID,,,,,,,,,
6,Buraydah,SA,26.3260,43.9750,77.45,15,0,9.51,clear sky
22,Dong Hoi,VN,17.4833,106.6000,78.13,88,100,3.89,heavy intensity rain
25,Puerto Ayora,EC,-0.7393,-90.3518,76.96,92,59,7.00,broken clouds
26,Iralaya,HN,15.0000,-83.2333,81.54,82,25,14.72,scattered clouds
28,Georgetown,MY,5.4112,100.3354,78.75,94,20,4.61,few clouds
29,Zaraza,VE,9.3503,-65.3245,77.86,88,100,0.36,overcast clouds
32,Kapaa,US,22.0752,-159.3190,85.98,64,40,11.50,scattered clouds
35,Martapura,ID,-3.4167,114.8500,75.29,100,75,3.44,moderate rain
42,San Cristobal,VE,7.7669,-72.2250,78.98,66,78,2.91,broken clouds
43,Sarangani,PH,5.4033,125.4636,83.80,73,93,15.66,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [35]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
selected_columns=clean_travel_cities[["City","Country","Max Temp", "Current Weather","Lat", "Lng"]]
hotel_df = selected_columns.copy()

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Weather,Lat,Lng
City ID,,,,,,
6,Buraydah,SA,77.45,clear sky,26.3260,43.9750
22,Dong Hoi,VN,78.13,heavy intensity rain,17.4833,106.6000
25,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518
26,Iralaya,HN,81.54,scattered clouds,15.0000,-83.2333
28,Georgetown,MY,78.75,few clouds,5.4112,100.3354

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [38]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"]=""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
City ID,,,,,,,
6,Buraydah,SA,77.45,clear sky,26.3260,43.9750,
22,Dong Hoi,VN,78.13,heavy intensity rain,17.4833,106.6000,
25,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518,
26,Iralaya,HN,81.54,scattered clouds,15.0000,-83.2333,
28,Georgetown,MY,78.75,few clouds,5.4112,100.3354,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [44]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [46]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [47]:
# Display sample data

hotel_df.head()

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
City ID,,,,,,,
6,Buraydah,SA,77.45,clear sky,26.3260,43.9750,Mövenpick Qassim
22,Dong Hoi,VN,78.13,heavy intensity rain,17.4833,106.6000,Nam Long Hotel
25,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
26,Iralaya,HN,81.54,scattered clouds,15.0000,-83.2333,Iglesia morava renovada
28,Georgetown,MY,78.75,few clouds,5.4112,100.3354,Cititel Penang

In [49]:
hotel_df.count()

City               196
Country            196
Max Temp           196
Current Weather    196
Lat                196
Lng                196
Hotel Name         196
dtype: int64

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [51]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how="any")


# Display sample data
# YOUR CODE HERE
clean_hotel_df.head()

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
City ID,,,,,,,
6,Buraydah,SA,77.45,clear sky,26.3260,43.9750,Mövenpick Qassim
22,Dong Hoi,VN,78.13,heavy intensity rain,17.4833,106.6000,Nam Long Hotel
25,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
26,Iralaya,HN,81.54,scattered clouds,15.0000,-83.2333,Iglesia morava renovada
28,Georgetown,MY,78.75,few clouds,5.4112,100.3354,Cititel Penang

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [52]:
# Set the file name.
output_data_file = "WhatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [54]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [55]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Mövenpick Qassim</dd>\n<dt>City</dt><dd>Buraydah</dd>\n<dt>Country</dt><dd>SA</dd>\n<dt>Current Weather</dt><dd>clear sky and 77.45 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Nam Long Hotel</dd>\n<dt>City</dt><dd>Dong Hoi</dd>\n<dt>Country</dt><dd>VN</dd>\n<dt>Current Weather</dt><dd>heavy intensity rain and 78.13 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Current Weather</dt><dd>broken clouds and 76.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Iglesia morava renovada</dd>\n<dt>City</dt><dd>Iralaya</dd>\n<dt>Country</dt><dd>HN</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 81.54 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Cititel Penang</dd>\n<dt>City</dt><dd>Georgetown</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>few clouds and 78.75 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Zaraza</dd>\n<dt>City</dt><dd>Zaraza</dd>\n<dt>Country</dt><dd>VE</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.86 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 85.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Montana Hotel Syariah</dd>\n<dt>City</dt><dd>Martapura</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>moderate rain and 75.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pirineos</dd>\n<dt>City</dt><dd>San Cristobal</dd>\n<dt>Country</dt><dd>VE</dd>\n<dt>Current Weather</dt><dd>broken clouds and 78.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>JVL Inn and Cafeteria</dd>\n<dt>City</dt><dd>Sarangani</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 83.8 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [56]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

             Lat       Lng
City ID
6        26.3260   43.9750
22       17.4833  106.6000
25       -0.7393  -90.3518
26       15.0000  -83.2333
28        5.4112  100.3354
29        9.3503  -65.3245
32       22.0752 -159.3190
35       -3.4167  114.8500
42        7.7669  -72.2250
43        5.4033  125.4636

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [58]:
# Add a marker layer for each city to the map. 
# YOUR CODE HERE
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp=clean_hotel_df["Max Temp"]
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer= gmaps.heatmap_layer(locations,
                               weights=max_temp,
                               dissipating=False,
                               max_intensity=300,
                               point_radius=4)
# Create a figure to add the Google map as a layer
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Display the figure containing the map
# YOUR CODE HERE
fig

Figure(layout=FigureLayout(height='420px'))